.day-two {
  background-size: cover;
  grid-column: 1/2;
  background: url("/src/Images/heavens-and-water.jpg") no-repeat;
  width: 3840px;
  height: 200vh;
}

.day-two-scripture {
  display: flex;
  justify-content: left;
  font-size: large;
  color: white;
  flex: auto;
}

