.day-five {
  background-image: url("/src/Images/fowl-and-fish.png");
  background-repeat: no-repeat;
  background-color: black;
  width: 3840px;
  height: 2400px;
}

.day-five-scripture {
  display: flex;
  justify-content: left;
  font-size: large;
  color: white;
  flex: auto;
}
