.day-six {
  background-image: url("/src/Images/day-six-of-creation.jpg");
  background-repeat: no-repeat;
  background-color: gray;
  width: 3840px;
  height: 2400px;
}

.day-six-scripture {
  display: flex;
  justify-content: left;
  font-size: large;
  color: white;
  flex: auto;
}
