.day-one {
  background-image: url("/src/Images/day-and-night.jpg");
  background-repeat: no-repeat;
  background-color: black;
  width: 3840px;
  height: 2400px;
}

.day-one-scripture {
  display: flex;
  justify-content: left;
  font-size: large;
  color: white;
  flex: auto;
}
