.day-three {
  background-size: cover;
  grid-column: 1/2;
  background: url("/src/Images/land-and-sea.png") no-repeat;
  width: 3840px;
  height: 200vh;
}

.day-three-scripture {
  display: flex;
  justify-content: left;
  font-size: large;
  color: white;
  flex: auto;
}
